/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


 /*PRELOADER*/
 /* Paste this css to your style sheet file or under head tag */
 /* This only works with JavaScript,
 if it's not present, don't show loader */
 .no-js #loader { display: none;  }
 .js #loader { display: block; position: absolute; left: 100px; top: 0; }
 .se-pre-con {
 	position: fixed;
 	left: 0px;
 	top: 0px;
 	width: 100%;
 	height: 100%;
 	z-index: 9999;
 	background: url(/images/loading.gif) center no-repeat #fff;
 }



.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


.parallax-container {
      height: 423px;
    }
