---
layout: default
title: Home
description: Welcome to Tumble Network

---

<div class="slider">
  <ul class="slides">

    {% for slide in site.carousel %}
    <li>
      <img src="{{ slide.image }}"> <!-- random image -->
      <div class="caption {{ slide.align | default: "center"}}-align {{ slide.color }}">
        <h3>{{ slide.title }}</h3>
        <h5 class="">{{ slide.subtitle }}</h5>
        {% if slide.button %}
          <a class="waves-effect waves-light btn {{ slide.button.color }}" href="{{ slide.button.href }}">{{ slide.button.text }}</a>
        {% endif %}
      </div>
    </li>
    {% endfor %}

  </ul>
</div>

 <div class="container"> <h2>Services</h2>
  <div class="row ">
      {% for service in site.data.services limit: 8 %}
      {% include service-loop.html spacing="s12 m12 l6" %}
      {% endfor %}
  </div>


  <h2>Recent Posts</h2>
  <div class="row">
    {% for post in site.data.blog.posts limit: 8 %}
    {% include post-loop.html spacing="s12 m12 l6" %}
    {% endfor %}
   </div></div>
