---
layout: default
title: Home
---

<div class="slider">
  <ul class="slides">

    {% for slide in site.carousel %}
    <li>
      <img src="{{ slide.image }}"> <!-- random image -->
      <div class="caption {{ slide.align | default: "center"}}-align {{ slide.color }}">
        <h3>{{ slide.title }}</h3>
        <h5 class="">{{ slide.subtitle }}</h5>
        {% if slide.button %}
          <a class="waves-effect waves-light btn {{ slide.button.color }}" href="{{ slide.button.href }}">{{ slide.button.text }}</a>
        {% endif %}
      </div>
    </li>
    {% endfor %}

  </ul>
</div>
<h2>Services</h2>

<div class="row container">
  {% for service in site.services limit: 4 %}

    <div class="col s12 m4 l3">
      <div class="card white black-text">
          {% if service.image-url %}
          <div class="card-image">
            <img src="{{ service.image-url }}">
            <span class="card-title">{{ service.title }}</span>
          </div>
          <div class="card-content">
          {% else %}
          <div class="card-content">
            <span class="card-title">{{ service.title }}</span>
          {% endif %}
          {{ service.content }}
          </div>
          <div class="card-action">
            <a href="{{ service.url }}" class="waves-effect waves-light btn red">View</a>
          </div>
        </div>
      </div>
  {% endfor %}
</div>


<h2>Recent Posts</h2>
<div class="row">
  {% for post in site.posts limit: 8 %}
  {% include post-loop.html spacing="s12 m6 l3" %}
  {% endfor %}
</div>
