<li {% if page.url contains item.href %}class="active"{% endif %}>
  <a {% if item.dropdown %}
  class="dropdown-button" href="{{ page.url }}#" data-activates="dropdown{{ forloop.index }}"
  {% else %}
  href="{{ item.href }}"
  {% endif %}>
    {{ item.title }}
    {% if item.href == "/blog/" %}
    <span class="new badge" data-badge-caption="post(s)">
      {{ site.posts.size }}
    </span>
    {% endif %}
    {% if item.dropdown %}
    <i class="material-icons right">arrow_drop_down</i>
    {% endif %}
  </a>
</li>
