<div class="col {{ include.spacing | default: "s12 m6 l6" }}">
{% assign author = site.team | where:"author-id", post.author | first %}

<div class="card">
  {% if post.image_url %}
  <div class="card-image">
    <img src="{{ post.image_url }}">
    <span class="card-title"><a href="{{ post.url }}">{{ post.title }}</a></span>

  </div>
  <div class="card-content">
  {% else %}
  <div class="card-content">
    <span class="card-title"><a href="{{ post.url }}">{{ post.title }}</a></span>{{ ' ' }}{{ post.date | date_to_string }}
  {% endif %}
  <p>
    <a href="{{ author.url }}">
      <div class="chip">
        {% if author.image-url %}
        <img src="{{ author.image-url }}" alt="Contact Person">
        {% else %}
        <img src="https://www.gravatar.com/avatar/{{ author.gravatar-hash }}?d=mm&s=200" alt="Contact Person">
        {% endif %}{{ author.title }}
      </div>
    </a>
    {% for category in post.category %}
      <a href="/blog/categories/#{{ category | slugize }}"><div class="chip">{{ category }}</div></a>
    {% endfor %}
  </p>
  <a href="{{ post.url }}#disqus_thread"></a>
      {{ post.excerpt }}
  </div>
  <div class="card-action">
    {% unless post.excerpt == post.content %}
    <a href="{{ post.url }}">Read more...</a>
    {% endunless %}
  </div>
</div>
  </div>
