<form class="{{ include.class }}" action="javascript:search('#{{ include.id }}');">
           <div class="input-field">
             <input id="{{ include.id }}" type="search" required>
             <label for="search"><i class="material-icons">search</i></label>
             <i class="material-icons">close</i>
           </div>
         </form>
         <form action="/search.html" method="get" class="{{ include.class }}">
           <div class="input-field">
             <label for="search"><i class="material-icons">search</i></label>
             <input id="{{ include.id }}" type="search" required>
             <input type="text" id="search-box" name="q">
             <i class="material-icons">close</i>
           </div>
         </form>
