---
layout: default-breadcrumbs
title: Categories
---



<div class="row">
  <div class="col s12 m9 l10">

    <div id="top" class="section scrollspy">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Catagories</span>
            <ul>
            {% for category in site.data.blog.categories %}
            <li><div class="chip">
              <a href="{{ page.url }}#{{ category | slugize }}">{{ category | slugize }}</a>
            </div></li>
            {% endfor %}
            </ul>
          </div>
        </div>
    </div>

    {% for category in site.data.blog.categories %}
      <div id="{{ category | slugize }}" class="section scrollspy">
        <br><br>
        <h3 class="category-head">Category: {{ category }}</h3>
        <a name="{{ category | slugize }}"></a>
        <div class="row">
          {% for post in site.data.blog.posts %}
          {% if post.category==category %}
          {% include post-loop.html %}
          {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="col hide-on-small-only m3 l2">
    <ul class="section table-of-contents pinned">
      <h5>Catagories</h5>
      <!--li><a href="#top">top</a></li-->
      {% for category in site.data.blog.categories %}
        <li><a href="#{{ category | slugize }}">{{ category | slugize }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
