<!DOCTYPE html>
<html lang="en">

<!--
Welcome to this secret text under the page.

You are probably seing this because you are in the inspect element part of the browser you are using right now

Current date: {{ site.time | date_to_string }}
-->


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="theme-color" content="#F44336">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
<base href="{{ site.url }}">
<title>{% unless page.title == "Home" %}{{ page.title }} - {% endunless %}{{ site.title }}{% if page.title == "Home" %} - The home of TG and DBW.{% endif %}</title>


<!-- Add to homescreen for Chrome on Android -->
   <meta name="mobile-web-app-capable" content="yes">
   <link rel="icon" sizes="192x192" href="https://lh3.googleusercontent.com/6baXz_DP1mcRY_nzo65Tk3Vf_eqwLvIy-ZFrmobfogMpitHHH-nB58z0yEh7iQjgKN2p2xg3hYqBmkheU2o-ALMmr0cHwlB7L477xLu_GEYRFK-NLi-ilmN2j5mqreJSEaUva2mADaR05JMs_OjpOuN-Mwt06LtQDysq2-ywaS3T35nFrqaagmk4EQ6F2l6TSXIaRqweDn6d3bAcn1cCclnu1IRel0fi3cCPuuSKZ-KMeIyT4mVr20rZFY_e93SjMk8K-wD14IU_DEeBab3Fv08uAM34bAF-kitcqTchBSs7ABNWQpuRcW_01DccBh2VHvJu-Tr2UX_ediR4zIPzE4_oj2tqfEeFu7Yrzw49Hy7ho1q5zXLMnqRIasjNr05U2uT8OFxIfsmG4ePYF_juKNJqTaNn4MbrJ5vN-tWcdJ9NcIlNIjY4yOXN8XsLb5f4626BnCTg2boaAAbOtvMXr-rcmCgmDags8ZrKnmyL2l2qyPU2FO6NWK7gG8WAfJPpbBzBCuZbQUCDU2bxcgcxWePZRKslytLcV2qnYPCRPC2lmVAHHemGGMVuBWoBe9wQqoGxU_7aE09ymFo3AggGa81K6_Lv578dBWuQ0f_USYbsD4pr=s638-no">

   <!-- Add to homescreen for Safari on iOS -->
   <meta name="apple-mobile-web-app-capable" content="yes">
   <meta name="apple-mobile-web-app-status-bar-style" content="red">
   <meta name="apple-mobile-web-app-title" content="Tumble Network">
   <link rel="apple-touch-icon-precomposed" href="https://lh3.googleusercontent.com/MQEfkFYKXNELVopX-wIfDwLqW2wQ1Z3ooBpP-D8cUNpopX4TWFnddzW0Asn_2gfNZVuobObeifbN4tgS9TuZx13vnXQxXvMcebxc4zOoGiikrWi6HcnzOea-YD4BNmJuN7CwCCzKy6Y_kQObpDPqHy5BMaA7vE1wvs7urK-IKSLAlaJokqwr5UvF-R8NHtHT9usNl6Ed3HBf_qeueLOjqUhiThUjLrtPWHFnDFgfNrxgCJuI-WVn-h1YT-N5sk9lcOqsSo32WexiVL5xByMFVrfI-DgSbRjaAn8kMxQNrC2bnw41fEMiiyTM4-se0zQZ6u09jI5O1GcuNvvfzPjFIRZsN9oLexAb19IGb6SHfJzCBxCcs4-IAgCWMMeSUWCSVydgvjIaieY3mgGj_LeZsy7GnzSjM37OPnEWFQe0cuqhBHiWCP9ZZeoA1ilLccUOMYYAxHRTejUK6ZrQNMAbVOqizWQEJ9eYnDn7G0nDAjAy5y77aKyGVfVY3uIrRTWnslZstRvFmn8TRKJ2VIOjDhxTcjLp6qq_T0O2TVnFd1kp8gInt1JKGNAZPKtIlfJI8s0qXhMxh_bYg_b39fUuwBnOUwGlq1wv3F72uCNvLQgCH1z0=s638-no">

   <!-- Tile icon for Win8 (144x144 + tile color) -->
   <meta name="msapplication-TileImage" content="https://lh3.googleusercontent.com/MQEfkFYKXNELVopX-wIfDwLqW2wQ1Z3ooBpP-D8cUNpopX4TWFnddzW0Asn_2gfNZVuobObeifbN4tgS9TuZx13vnXQxXvMcebxc4zOoGiikrWi6HcnzOea-YD4BNmJuN7CwCCzKy6Y_kQObpDPqHy5BMaA7vE1wvs7urK-IKSLAlaJokqwr5UvF-R8NHtHT9usNl6Ed3HBf_qeueLOjqUhiThUjLrtPWHFnDFgfNrxgCJuI-WVn-h1YT-N5sk9lcOqsSo32WexiVL5xByMFVrfI-DgSbRjaAn8kMxQNrC2bnw41fEMiiyTM4-se0zQZ6u09jI5O1GcuNvvfzPjFIRZsN9oLexAb19IGb6SHfJzCBxCcs4-IAgCWMMeSUWCSVydgvjIaieY3mgGj_LeZsy7GnzSjM37OPnEWFQe0cuqhBHiWCP9ZZeoA1ilLccUOMYYAxHRTejUK6ZrQNMAbVOqizWQEJ9eYnDn7G0nDAjAy5y77aKyGVfVY3uIrRTWnslZstRvFmn8TRKJ2VIOjDhxTcjLp6qq_T0O2TVnFd1kp8gInt1JKGNAZPKtIlfJI8s0qXhMxh_bYg_b39fUuwBnOUwGlq1wv3F72uCNvLQgCH1z0=s638-no">
   <meta name="msapplication-TileColor" content="#F44336">

   <link rel="shortcut icon" href="https://lh3.googleusercontent.com/MQEfkFYKXNELVopX-wIfDwLqW2wQ1Z3ooBpP-D8cUNpopX4TWFnddzW0Asn_2gfNZVuobObeifbN4tgS9TuZx13vnXQxXvMcebxc4zOoGiikrWi6HcnzOea-YD4BNmJuN7CwCCzKy6Y_kQObpDPqHy5BMaA7vE1wvs7urK-IKSLAlaJokqwr5UvF-R8NHtHT9usNl6Ed3HBf_qeueLOjqUhiThUjLrtPWHFnDFgfNrxgCJuI-WVn-h1YT-N5sk9lcOqsSo32WexiVL5xByMFVrfI-DgSbRjaAn8kMxQNrC2bnw41fEMiiyTM4-se0zQZ6u09jI5O1GcuNvvfzPjFIRZsN9oLexAb19IGb6SHfJzCBxCcs4-IAgCWMMeSUWCSVydgvjIaieY3mgGj_LeZsy7GnzSjM37OPnEWFQe0cuqhBHiWCP9ZZeoA1ilLccUOMYYAxHRTejUK6ZrQNMAbVOqizWQEJ9eYnDn7G0nDAjAy5y77aKyGVfVY3uIrRTWnslZstRvFmn8TRKJ2VIOjDhxTcjLp6qq_T0O2TVnFd1kp8gInt1JKGNAZPKtIlfJI8s0qXhMxh_bYg_b39fUuwBnOUwGlq1wv3F72uCNvLQgCH1z0=s638-no">

   <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
   <!--
   <link rel="canonical" href="http://www.example.com/">
   -->


<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>


<!--PRELOADER-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js'></script>
<script type='text/javascript' src='js/loadImg.js'></script>
<script type='text/javascript'>
    $(function(){
        $('img').imgPreload()
    })
</script>
<!--PRELOADER-->
</head>
<body>
<div class="se-pre-con"></div>
<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- end facebook -->

<div class="nav-wrapper navbar-fixed">

{% for item in site.data.nav %}
  {% if item.dropdown %}
  <ul id="dropdown{{ forloop.index }}" class="dropdown-content">
    <li><a href="{{ item.href }}">{{ item.title }}</a></li>
    {% for ditem in item.dropdown %}
      {% if ditem.title == "divider" %}
        <li class="divider"></li>
      {% else %}
        <li><a href="{{ ditem.href }}">{{ ditem.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <ul id="mobile-dropdown{{ forloop.index }}" class="dropdown-content">
    <li><a href="{{ item.href }}">{{ item.title }}</a></li>
    {% for ditem in item.dropdown %}
      {% if ditem.title == "divider" %}
        <li class="divider"></li>
      {% else %}
        <li><a href="{{ ditem.href }}">{{ ditem.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
{% endfor %}


{% comment %}
if is dropdown
class="dropdown-button" href="{{page.url}}#" data-activates="dropdown{{ forloop.index }}"

else
href="{{ item.href }}"

 {% endcomment %}



  <nav class="red" role="navigation">
    <div class="nav-wrapper row">
       <ul class="left col">
         <li><a href="javascript:void(0);" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a></li>
         <li><a href="javascript:void(0);" data-activates="nav-mobile" class="button-collapse" onclick="toggle_visibility('mobile-search-bar');"><i class="material-icons">search</i></a></li>
       </ul>

          
          <a id="logo-container" href="{{ site.url }}" class="brand-logo col center">
             {% if site.logo-url %} 
             <img src="{{ site.logo-url }}"> 
             {% else %}
             {{ site.title }}
             {% endif %}
          </a>
          
                 
          
    
         <form class="col hide-on-med-and-down left">
           <div class="input-field col m5 l5">
             <input id="search" type="search" required>
             <label for="search"><i class="material-icons">search</i></label>
             <i class="material-icons">close</i>
           </div>
         </form>
       
          <ul class="right hide-on-med-and-down">
           {% for item in site.data.nav %}
             
           <li {% if page.url contains item.href %}class="active"{% endif %}>
              {% if item.type == "html" %}
              {{ item.html }}
              {% else %}
             <a {% if item.type == "dropdown" %}
             class="dropdown-button" href="{{ page.url }}#" data-activates="dropdown{{ forloop.index }}"
             {% else %}
             href="{{ item.href }}"{% if item.type == "button" %} class="btn red lighten2 white-text"{% endif %}
             {% endif %}>
               {{ item.title }}
               {% if item.href == "/blog/" %}
               <span class="new badge" data-badge-caption="post(s)">
                 {{ site.posts.size }}
               </span>
               {% endif %}
               {% if item.dropdown %}
               <i class="material-icons right">arrow_drop_down</i>
               {% endif %}
             </a>
              {% endif %}
           </li>


           {% endfor %}
         `</ul>
          
          
         <ul id="nav-mobile" class="side-nav">
           {% for item in site.data.nav %}


           <li {% if page.url contains item.href %}class="active"{% endif %}>
              {% if item.type == "html" %}
              {{ item.html }}
              {% else %}
             <a {% if item.type == "dropdown" %}
             class="dropdown-button" href="{{ page.url }}#" data-activates="mobile-dropdown{{ forloop.index }}"
             {% else %}
             href="{{ item.href }}"{% if item.type == "button" %} class="btn red lighten2 white-text"{% endif %}
             {% endif %}>
               {{ item.title }}
               {% if item.href == "/blog/" %}
               <span class="new badge" data-badge-caption="post(s)">
                 {{ site.posts.size }}
               </span>
               {% endif %}
               {% if item.dropdown %}
               <i class="material-icons right">arrow_drop_down</i>
               {% endif %}
             </a>
              {% endif %}
           </li>


           {% endfor %}
         </ul>
      </div>
    </div>
  </nav>
   <nav class="red mobile-search-bar" role="navigation">
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
</div>
   

{{ content }}


<footer class="page-footer red">
  <div class="container row" >

      {% for widget in site.data.footer %}
      <div class="col {{ widget.size | default: "s12 m6 l3"}} white-text">
        <h5 class="white-text">{{ widget.title }}</h5>
        <p>{{ widget.text }}</p>
      </div>
      {% endfor %}
  </div>

  <div class="footer-copyright">
    <div class="container">
    {% include footer.html %}
    </div>
  </div>

</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'en-GB'}
</script>

{% comment %} START OF CHRISTMAS SNOW {% endcomment %}
{% capture current_month %}{{ site.time | date: "%m" }}{% endcapture %}
{% if current_month == "12" %}
{% capture current_date %}{{ site.time | date: "%-d" }}{% endcapture %}
{% capture days_until_xmas %}{{ 30 | minus: current_date }}{% endcapture %}
<!-- required snowstorm JS, default behaviour -->
<script src="js/snowstorm.js"></script>

<!-- now, we'll customize the snowStorm object -->
<script>
{% unless current_date > "25" %}{% comment %} Check if its before christmass {% endcomment %}
// Materialize.toast(message, displayLength, className, completeCallback);

//say amount of days till chrstams
  Materialize.toast('{{ days_until_xmas }} days until Christmas.', 4000) // 4000 is the duration of the toast
{% endunless %}

//CHRISTMAS SNOW
snowStorm.flakesMaxActive = 96;    // show more snow on screen at once
snowStorm.useTwinkleEffect = true; // let the snow flicker in and out of view
snowStorm.randomizeWind()
</script>

{% endif %}
<script id="dsq-count-scr" src="//{{ site.disqus-shortname }}.disqus.com/count.js" async></script>
   <script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
//-->
</script>
</body>
</html>
