---
layout: default-breadcrumbs
---
{% assign author = site.team | where:"author-id", page.author  | first %}
<div class="row container">
  <div class="col s12">
    <div class="card">
      {% if page.image_url %}
      <div class="card-image">
        <img src="{{ page.image_url }}">
        <span class="card-title">{{ page.title }}</span>

      </div>
      <div class="card-content">
      {% else %}
      <div class="card-content">
        <span class="card-title">{{ page.title }}</span>
      {% endif %}
        <a href="{{ author.url }}"><div class="chip">
            {% if author.image-url %}
            <img src="{{ author.image-url }}" alt="Contact Person">
            {% else %}
            <img src="https://www.gravatar.com/avatar/{{ author.gravatar-hash }}?d=mm&s=200" alt="Contact Person">
            {% endif %}
            {{ author.title }}
          </div></a><br>

          {{ content }}
      </div>
    </div>

    {% if page.comments %}
    <div id="disqus_thread"></div>
    <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    var disqus_config = function () {
    this.page.url = {{ page.url }};  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = {{ page.id }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//tumble-network-beta.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
  </div>
</div>
