---
layout: default-breadcrumbs
---
<div class="row container">
  <div class="col s12">
  {% assign author = site.team | where:"author-id", page.author | first %}
  {% unless site.dev %}
    <a href="{{site.github.repository_url}}/blob/master/{{page.path}}">Edit this page</a>
  {% endunless %}
    <div class="card">
      {% if page.image_url %}
      <div class="card-image">
        <img src="{{ page.image_url }}">
        <span class="card-title">{{ page.title }}</span>{{ '   ' }}{{ page.date | date_to_string }}
      </div>
      <div class="card-content">
      {% else %}
      <div class="card-content">
        <span class="card-title">{{ page.title }}</span>{{ '   ' }}{{ page.date | date_to_string }}
      {% endif %}
      <p>
        <a href="{{ author.url }}">
          <div class="chip">
            {% if author.image-url %}
            <img src="{{ author.image-url }}" alt="Contact Person">
            {% else %}
            <img src="https://www.gravatar.com/avatar/{{ author.gravatar-hash }}?d=mm&s=200" alt="Contact Person">
            {% endif %}{{ author.title }}
          </div>
        </a>
      </p>


  <ul class="collapsible popout" data-collapsible="accordion">
    {% if page.categories %}
    <li>
      <div class="collapsible-header"><i class="material-icons">list</i>Categories</div>
      <div class="collapsible-body">
        {% for category in page.categories %}
          <a href="/blog/categories/#{{ category | slugize }}"><div class="chip">{{ category }}</div></a>
        {% endfor %}
      </div>
    </li>
    {% endif %}

    {% if page.tags %}
    <li>
      <div class="collapsible-header"><i class="material-icons">label</i>Tags</div>
      <div class="collapsible-body">
        {% for tag in page.tags %}
          <a href="/blog/tags/#{{ tag | slugize }}"><div class="chip">{{ tag }}</div></a>
        {% endfor %}
      </div>
    </li>
    {% endif %}
  </ul><br>
<a href="{{ page.url }}#disqus_thread"></a>
  {{ content }}
      </div>
    </div>
    {% include comments.html %}
  </div>
</div>
