---
layout: default-breadcrumbs
---
{% assign posts = site.posts | where:"author", page.author-id %}
<div class="parallax-container">
      <div class="parallax"><img src="{{ page.banner | default: "https://lh3.googleusercontent.com/U7TFyuVBbWGNIf3o3amQUUac1sAyCrLVX3IhWXSVm6wxHbemwjnKibM7jvLrh40AiXGh2pEKMUac_lh_EF-a3jAf-uPKGKLE86t-PsZvcbEYH9VDAk9_dIR8r9jUnVbSRBQw1ZIEEZng8wSsAIZHWbAi8XsyRz8lBOvj0bovJBLo0v8FB51VIFNFfqEAFrBVPIQ4ZoCT3AWyi0KDt-8HDfKTj70VarrffDPGy81yoBBj8mrQb0xSPvK3XDKa52vyY-LRoVs9y2vOfCtLwqSzV9h7FUQ9K1THukHTJyekY6OAzw5JiF1fe_54wDZlvPE5S3knYIhwZv42XE4ru2ARkoEyjVm97nSoxSN9OxFg4XuLOISXd7WOKtJMVc24v5DfH6L1TuYrEtzjAT9bp6LPW5nSLZogJ00eS-GetgpOBKBfY7ae2VAqxKw0m7goBu55JA4lJs1tHK97leLDe9AbCe5lt6Tv5jTzdvJEXh7pL8iN9JJnL5GjqfxSjwp5nxpAjjQ-yraH7VLIcQ5ryDJUUrdUEcGzaeoW8nWOvZv46GHJDo_at4eXUM_1OAFUnnV4dLsI867QBbD12GdsoxfxLPkR5bK44nb31unXGd_YzWxXSOvR=w1135-h638-no"}}"></div>
</div>
<div class="container">
  <div class="col s12 m7">
    <h2 class="header">{{page.title}}</h2>
    <div class="card horizontal {{ page.color }}">
      <div class="card-image">
        {% if staff.image-url %}
        <img src="{{ staff.image-url }}">
        {% else %}
        <img src="https://www.gravatar.com/avatar/{{ page.gravatar-hash }}?d=mm&s=200">
        {% endif %}
      </div>
      <div class="card-stacked">
        <div class="card-content">
          {{ content }}
        </div>
        <div class="card-action">
          {% if page.twitter %}
          <a href="https://twitter.com/{{ page.twitter }}" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false">Follow @{{ page.twitter }}</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          {% endif %}

          {% if page.youtube %}
          <script src="https://apis.google.com/js/platform.js"></script><div class="g-ytsubscribe" data-channel{% if page.youtube-id == "true" %}id{% endif %}="{{ page.youtube }}" data-layout="default" data-count="default"></div>
          {% endif %}
          {% if page.github %}
          <a class="github-button" href="https://github.com/{{ page.github }}" data-style="mega" data-count-href="/{{ page.github }}/followers" data-count-api="/users/{{ page.github }}#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @{{ page.github }} on GitHub">Follow @{{ page.github }}</a>
          {% endif %}

          {% if page.googleplus %}
          <div class="g-follow" data-annotation="bubble" data-height="24" data-href="//plus.google.com/+{{ page.googleplus }}" data-rel="publisher"></div>
          {% endif %}

          {% if page.facebook %}
          <div class="fb-follow" data-href="https://www.facebook.com/{{ page.facebook }}" data-layout="button_count" data-size="large" data-show-faces="true"></div>
          {% endif %}

          {% if page.blog-url %}
              <a class="btn-floating btn-large waves-effect waves-light red" href="{{ page.blog-url }}"><i class="material-icons">comment</i></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% if page.tagline %}
  <div class="row">
    <div class="col s12 m6 l3">
      <div class="card-panel {{ page.color }}">
        <span class="">"{{ page.tagline }}"
        </span>
      </div>
    </div>
  </div>
    {% endif %}
</div>

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        {% if posts.first.id %}<li class="tab col s12 m6 l3 red"><a href="#tab-posts">Posts</a></li>{% endif %}
        {% if page.twitter %}<li class="tab col s12 m6 l3 light-blue"><a href="#tab-twitter">Twitter</a></li>{% endif %}
        {% if page.facebook %}<li class="tab col s12 m6 l3 blue darken-3"><a href="#tab-facebook">Facebook</a></li>{% endif %}
        {% if page.twitch %}<li class="tab col s12 m6 l3 purple"><a href="#tab-twitch">Twitch</a></li>{% endif %}
        {% if page.customtab %}<li class="tab col s12 m6 l3 {{ page.customtab.color }}"><a href="#tab-custom">{{ page.customtab.name }}</a></li>{% endif %}
      </ul>
    </div>


    {% if page.twitter %}
    <div id="tab-twitter" class="col s12">
      <div class="card-panel light-blue">
        <a class="twitter-timeline" data-link-color="#F44336" href="https://twitter.com/{{ page.twitter }}">Tweets by {{ page.twitter }}</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
    {% endif %}


    {% if page.facebook %}
    <div id="tab-facebook" class="col s12 m12 l12">
      <div class="card-panel blue darken-3">
        <div class="fb-page" data-href="https://www.facebook.com/{{ page.facebook }}/" data-tabs="timeline, events, messages" data-width="500" data-height="1000" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/{{ page.facebook }}/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/{{ page.facebook }}/">{{ page.facebook }}</a></blockquote></div>
      </div>
    </div>
    {% endif %}

    {% if page.twitch %}
    <div id="tab-twitch" class="col s12 m12 l12">

      <div class=" card large purple col s12 m12 l9">
        <script src= "http://player.twitch.tv/js/embed/v1.js"></script>
        <div id="{PLAYER_DIV_ID}"></div>
        <script type="text/javascript">
          var options = {
              width: 854,
              height: 480,
              channel: "{{ page.twitch }}",
              //video: "{VIDEO_ID}"
          };
          var player = new Twitch.Player("{PLAYER_DIV_ID}", options);
          player.setVolume(0.5);
          player.addEventListener(Twitch.Player.PAUSE, () => { console.log('Player is paused!'); });
        </script>
      </div>
      <div class=" card large purple col s12 m12 l3">
        <iframe frameborder="0"
        scrolling="no"
        id="chat_embed"
        src="http://www.twitch.tv/{{ page.twitch }}/chat"
        height="100%"
        width="100%">
        </iframe>
      </div>

    </div>
    {% endif %}

    {% if page.customtab %}
    <div id="tab-custom" class="col s12 m12 l12">
      <div class="card-panel {{ page.customtab.color }}">
        {{ page.customtab.content }}
      </div>
    </div>
    {% endif %}

    {% if posts %}
    <div id="tab-posts">
      {% for post in posts %}
      {% include post-loop.html %}
      {% endfor %}
    </div>
    {% endif %}


  </div>
