---
layout: default-breadcrumbs
---
<div class="parallax-container">
      <div class="parallax"><img src="{{ page.banner }}"></div>
</div>

<div class="col s12 m7">
  <h2 class="header">{{page.title}}</h2>
  <div class="card horizontal">
    <div class="card-image">
      {% if staff.image-url %}
      <img src="{{ staff.image-url }}">
      {% else %}
      <img src="https://www.gravatar.com/avatar/{{ page.gravatar-hash }}?d=mm&s=200">
      {% endif %}
    </div>
    <div class="card-stacked">
      <div class="card-content">
        {{ content }}
      </div>
      <div class="card-action">
        {% if page.twitter %}
        <a href="https://twitter.com/{{ page.twitter }}" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false">Follow @{{ page.twitter }}</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        {% endif %}

        {% if page.youtube %}
        <script src="https://apis.google.com/js/platform.js"></script><div class="g-ytsubscribe" data-channel="{{ page.youtube }}" data-layout="default" data-count="default"></div>
        {% endif %}

        {% if page.github %}
        <a class="github-button" href="https://github.com/{{ page.github }}" data-style="mega" data-count-href="/{{ page.github }}/followers" data-count-api="/users/{{ page.github }}#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @{{ page.github }} on GitHub">Follow @{{ page.github }}</a>
        {% endif %}

        {% if page.googleplus %}
        <div class="g-follow" data-annotation="bubble" data-height="24" data-href="//plus.google.com/+{{ page.googleplus }}" data-rel="publisher"></div>
        {% endif %}

        {% if page.facebook %}
        <div class="fb-follow" data-href="https://www.facebook.com/{{ page.facebook }}" data-layout="button_count" data-size="large" data-show-faces="true"></div>
        {% endif %}
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col s12 m2 l3">
    <div class="card-panel {{ page.color }}">
      <span class="">"{{ page.tagline }}"
      </span>
    </div>

    {% if page.twitter %}
    <div class="card {{ page.color }}">
      <div class="card-content white-text">
        <span class="card-title">Twtter Feed</span>
        <a class="twitter-timeline" href="https://twitter.com/{{ page.twitter }}">Tweets by {{ page.twitter }}</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
    {% endif %}





  </div>
</div>
